.App{
  display:flex;
  justify-content: center;
}

.selectInputs{
  margin:5px;
}

.heading{
  margin-left:30%;
}

#countryDropdown{
  padding:6px 6rem;
}
#stateDropdown{
  padding:5px 2rem;
}
#cityDropdown{
  padding:5px 1rem;
}
.selectedValues{
  display:flex;
  width:100%;
  margin-left:30%
}
.displayH2{
  display:inline;
}

